<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="content">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="flash-messages">
                                {% for category, message in messages %}
                                    <div class="flash-message flash-{{ category }}">
                                        <i class="fas fa-info-circle"></i> {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                <!-- Question 1-->
                <div class="Question">
                    <form id="question-one" class="active" method="POST" action="{{ url_for('insert_question_one') }}">
                        <h2>Q1 Insert a new tuple ('s2', 'p3', 200, 0.006) into SHIPMENT table </h2>
                        <label class="form-label">Insert Sno</label>
                            <input class="input-box" type="text" name="question-one-sno" required placeholder="Enter Sno">
                        
                        <label class="form-label">Enter Pno</label>
                            <input class="input-box" type="text" name="question-one-pno" required placeholder="Enter Pno">
                        <br>
                        <label class="form-label">Enter Quantity </label>
                            <input class="input-box" type="text" name="question-one-qty" required placeholder="Enter Quantity">

                        <label class="form-label">Enter Price </label>
                            <input class="input-box" type="text" name="question-one-price" required placeholder="Enter Price">
                        <br>
                        <button class="sub-btn" type="submit">Insert Shipment </button>
                    </form>
                </div>

                <!-- Question 2 -->
                <div class="Question">
                    <form id="question-two" class="active" method="POST" action="{{ url_for('insert_question_two') }}">
                        <h2>Q2 Insert a new tuple ('s4', 'p2', 100, 0.005) into SHIPMENT table </h2>
                        <label class="form-label">Insert Sno</label>
                            <input class="input-box" type="text" name="question-two-sno" required placeholder="Enter Sno">

                        <label class="form-label">Enter Pno</label>
                            <input class="input-box" type="text" name="question-two-pno" required placeholder="Enter Pno">
                        <br>
                        <label class="form-label">Enter Quantity </label>
                            <input class="input-box" type="text" name="question-two-qty" required placeholder="Enter Quantity">

                        <label class="form-label">Enter Price </label>
                            <input class="input-box" type="text" name="question-two-price" required placeholder="Enter Price">
                        <br>
                        <button class="sub-btn" type="submit">Insert Shipment </button>
                    </form>
                </div>

                <!--Question 3-->
                <div class="Question">
                    <form method="POST" action="{{ url_for('increase_by_10') }}">
                        <h3>Increase the status of each supplier by 10%. </h3>
                        <button class="sub-btn" type="submit">Increase Status </button>
                    </form>
                </div>

                <!--Question 4-->
                 <div class="Question">
                    <form method="POST" action="{{ url_for('display_supplier_info') }}">
                        <h3>Display information of all suppliers. </h3>
                        <button class="sub-btn" type="submit">Display </button>
                    </form>
                    <!--Table to display informatino-->
                    <div class="table-content">
                        {% if suppliers %}
                        <div class="sup-table">
                            <table class="supplier-table">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Sname</th>
                                        <th>Status</th>
                                        <th>City</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for supplier in suppliers %}
                                    <tr>
                                        <td>{{ supplier[0] }}</td>
                                        <td>{{ supplier[1] }}</td>
                                        <td>{{ supplier[2] }}</td>
                                        <td>{{ supplier[3] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                        {% endif %}
                    </div>
                </div>

                <!--Question 5-->
                <div class="Question">
                     <form method="POST" action="{{ url_for('display_part_info') }}" >
                        <h3>Prompt the user to input part no, and display information of all suppliers who shipped </h3>
                            <label class="form-label">Enter Pno</label>
                                <input class="input-box" type="text" name="question-five-pno" required placeholder="Enter Pno">
                        <button class="sub-btn" type="submit">Search for Supplier </button>
                    </form>
                    <div class="table-content">
                        {% if supplier_for_parts  %}
                        <div class="sup-table">
                            <!--table to display information-->
                            <table class="supplier-table">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Sname</th>
                                        <th>Status</th>
                                        <th>City</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for supplier_for_part in supplier_for_parts %}
                                    <tr>
                                        <td>{{ supplier_for_part[0] }}</td>
                                        <td>{{ supplier_for_part[1] }}</td>
                                        <td>{{ supplier_for_part[2] }}</td>
                                        <td>{{ supplier_for_part[3] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                        {% endif %}
                    </div>
                </div>

                <!--Reset Database-->
                <div class="Question">
                    <form method="POST" action="{{ url_for('reset_database') }}">
                        <h3>Reset Database to retry questions </h3>
                        <button class="sub-btn" type="submit">Reset Database</button>
                    </form>
                </div>

            </div>
        </div>
    </body>
</html>